* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: red;
  font-size: 3rem;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

.top-left {
  display: flex;
  justify-content: space-between;
}
.s-card {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}
.main-circle {
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  position: relative;
  width: 180px;
  height: 180px;
}

svg {
  transform: rotate(-90deg);
}

.bg-circle {
  fill: none;
  stroke: #d9d9d9; /* faded grey */
  stroke-width: 14;
}

.progress-circle {
  fill: none;
  stroke: #4a4a4a; /* dark grey */
  stroke-width: 14;
  stroke-linecap: round;
  stroke-dasharray: 502.65; /* 2 * PI * 80 */
  stroke-dashoffset: 191.01; /* 38% remaining (502.65 * 0.38) */
  transition: stroke-dashoffset 0.6s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: bold;
  color: #4a4a4a;
}

/* Sidebar */

#toggle {
  display: none;
}

.open-btn {
  position: relative;
  top: 20px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100%;
  background: #333;
  color: #fff;
  padding-top: 60px;
  transition: 0.4s ease;
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 22px;
  cursor: pointer;
}

.sidebar ul, li {
  list-style: none;
  margin-top: 20px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar ul li a:hover {
  background: #444;
  cursor: pointer;
}

/* Show Sidebar when checked */
#toggle:checked ~ .sidebar {
  right: 0;
}

/* Hide Open button when sidebar is open */
#toggle:checked ~ .open-btn {
  display: none;
}

/* Content */
.content {
  padding: 100px 40px;
}
